@use "reset";

body {
  font-family: Helvetica;
  padding: 0 50px;
  position: absolute;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("resources/images/pattern.jpeg");
}

main {
  position: relative;
  top: 125px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  margin-bottom: 15px;
}

section {
  margin: 50px 0;
}

img {
  margin: 25px 0;
}

.green {
  background-color: mediumspringgreen;
}

.coral {
  background-color: lightcoral;
}

.blue {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}

footer {
  height: 50px;
  background-color: darkslategray;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
