@use "reset";

body {
  font-family: Helvetica;
  padding: 0 50px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("~/resources/images/pattern.jpeg");
  margin: 50px 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  margin-bottom: 15px;
}

section {
  margin: 50px 0;
}

img {
  margin: 25px 0;
}

.green {
  background-color: mediumspringgreen;
}

.coral {
  background-color: lightcoral;
}

.blue {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
